<%- include('../../includes/header'); %>

    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <h1 class="form__title"><%= pageTitle %></h1>

        <% if (isSubmitted.length > 0) { %>
            <%- include('../../components/modal') %>
        <% } %>

        <main class="form">

            <form class="form__wrapper" method="POST" action="/new-password">

                <div class="form__field">
                    <label 
                        for="emailInput" 
                        id="emailLabel" 
                        class="<%= isSubmitted.length === 0 ? 'form__label' : userExists.length > 0 ? 'form__label' : 'form__label form__label--error' %>"
                    ><%= isSubmitted.length === 0 ? "Email*" : userExists.length > 0 ? "Email*" : "Error: Email address not found*" %></label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="<%= userExists.length > 0 ? 'form__input' : 'form__input form__input--error' %>"
                        placeholder="Please enter your email address"
                        aria-labelledby="emailLabel"
                        value="<%= oldInput.oldEmail && oldInput.oldEmail %>"
                        required
                    />
                </div>

                <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
                <button class="button">Reset Password</button>

            </form>
                    
        </main>

    </body>

<%- include('../../includes/footer'); %>