<%- include('../../includes/header'); %>

    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="password-reset">

            <h1><%= pageTitle %></h1>

            <% if (hasUser === true) { %>

            <form class="form" method="POST" action="/reset" enctype="multipart/form-data">

                <div class="form__field">
                    <label for="previousPasswordInput" id="previousPasswordLabel" class="<%= previousPasswordError.length === 0 ? 'form__label' : 'form__label form__label--error' %>"><%= previousPasswordError.length === 0 ? `Old Password*` : previousPasswordError %></label>
                    <input
                        type="password"
                        id="previousPasswordInput"
                        name="previousPasswordInput"
                        class="<%= previousPasswordError.length === 0 ? 'form__input' : 'form__input form__input--error' %>"
                        placeholder="Please enter your previous password"
                        aria-labelledby="previousPasswordLabel"
                        value="<%= oldInput.oldPreviousPassword && oldInput.oldPreviousPassword %>"
                        required
                    />
                </div>

                <div class="form__field">
                    <label for="newPasswordInput" id="newPasswordLabel" class="<%= newPasswordError.length === 0 ? 'form__label' : 'form__label form__label--error' %>"><%= newPasswordError.length === 0 ? `New Password*` : newPasswordError %></label>
                    <input
                        type="password"
                        id="newPasswordInput"
                        name="newPasswordInput"
                        class="<%= newPasswordError.length === 0 ? 'form__input' : 'form__input form__input--error' %>"
                        placeholder="Please enter your new password"
                        aria-labelledby="newPasswordLabel"
                        value="<%= oldInput.oldNewPassword && oldInput.oldNewPassword %>"
                        required
                    />
                </div>

                <div class="form__field">
                    <label for="confirmNewPasswordInput" id="confirmNewPasswordLabel" class="<%= newPasswordError.length === 0 ? 'form__label' : 'form__label form__label--error' %>"><%= newPasswordError.length === 0 ? `Confirm Your New Password*` : newPasswordError %></label>
                    <input
                        type="password"
                        id="confirmNewPasswordInput"
                        name="confirmNewPasswordInput"
                        class="<%= newPasswordError.length === 0 ? 'form__input' : 'form__input form__input--error' %>"
                        placeholder="Please confirm your new password"
                        aria-labelledby="confirmNewPasswordLabel"
                        value="<%= oldInput.oldConfirmNewPassword && oldInput.oldConfirmNewPassword %>"
                        required
                    />
                </div>

                <input
                    type="hidden"
                    name="csrfToken"
                    value="<%= csrfToken %>"
                />

                <input
                    type="hidden"
                    name="resetToken"
                    value="<%= resetToken %>"
                />

                <button class="button">Reset Password</button>

            </form>

            <% }else{ %>

                <div>
                    <h3>Error : The token is invalid</h3>
                    <p>Click <a href="/new-password">here</a> to request a new password</p>
                </div>

            <% } %>
            
        </main>

    </body>

<%- include('../../includes/footer'); %>