<%- include('../../includes/header'); %>

    <body>

        <%- include('../../includes/menu'); %>

        <main class="content">

            <h1 class="content__title"><%= pageTitle %></h1>

            <form class="form" method="POST" action="/edit-profile">

                <% if (isFormSubmitted === true && isNameValid === true && isEmailValid === true) { %> 
                    <h2 class="form__submission-text">Success, profile updated</h2>    
                <% } %>

                <div class="form__field">
                    <label 
                        class="<%= isNameValid === true ? 'form__label' : 'form__label form__label--error' %>" 
                        id="inputLabel" 
                        for="nameInput"
                    ><%= isNameValid === true ? 'Name*' : 'Error : Name must be longer than 2 characters' %></label>
                    <input
                        class="<%= isNameValid === true ? 'form__input' : 'form__input form__input--error' %>"
                        aria-labelledby="inputLabel"
                        type="text"
                        name="nameInput"
                        id="nameInput"
                        placeholder="Please enter your new name"
                        value="<%= userData.name %>"
                        required
                    />
                </div>

                <div class="form__field">
                    <label 
                        class="<%= isEmailValid === true ? 'form__label' : 'form__label form__label--error' %>" 
                        id="emailLabel" 
                        for="emailInput"
                    ><%= isEmailValid === true ? 'Email*' : 'Error : Email isnt valid' %></label>
                    <input
                        class="<%= isEmailValid === true ? 'form__input' : 'form__input form__input--error' %>"
                        aria-labelledby="emailLabel"
                        type="email"
                        name="emailInput"
                        id="emailInput"
                        placeholder="Please enter your email address"
                        value="<%= userData.email %>"
                        required
                    />
                </div>

                <input
                    type="hidden"
                    name="csrfToken"
                    value="<%= csrfToken %>"
                />

                <button class="button">Submit</button>

            </form>

        </main>

    </body>
        
<%- include('../../includes/footer'); %>