<%- include('../../includes/header'); %>

    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="content">

            <h1 class="content__title"><%= pageTitle %></h1>

            <section class="profile-page">

                <p class="profile-page__text">Name : <%= userData.name %></p>
                <p class="profile-page__text">Email : <%= userData.email %></p>

                <img 
                    src="https://images.pushsquare.com/1f9f24718cff7/the-last-of-us-2-how-many-chapters-are-there.900x.jpg" 
                    alt="Your profile image if you have one!"
                    class="profile-page__image"
                />

                <a href="/edit-profile" class="profile-page__link">Edit Your Profile</a>

                <a href="/new-password" class="profile-page__link">Reset your password</a>

            </section>

        </main>

    </body>
        
<%- include('../../includes/footer'); %>