<%- include('../../includes/header'); %>

    <body class="menu-open">

        <main>

            <%- include('../../includes/menu'); %>

            <% if (isAuthenticated === true) { %>

                <section class="cart">

                    <h1 class="cart__header"><%= pageTitle %></h1> 

                    <% if (hasProducts === true) { %>

                        <div class="cart__modal-wrapper">

                            <ul class="cart__modal-rows">
                                <li class="cart__modal-header">
                                    <p class="cart__modal-column">Name</p>
                                    <p class="cart__modal-column">Quantity</p>
                                    <p class="cart__modal-column">Total Cost</p>
                                </li>
                                <%  products.forEach((product) => {    %>
                                <% 
                                    const id = product.productId.toString();
                                    const title = product.title;
                                    const quantity = product.quantity;
                                    const price = product.price;  
                                %>

                                    <li class="cart__modal-row">
                                        <p class="cart__modal-column"><%= title %></p>
                                        <p class="cart__modal-column"><%= quantity %></p>
                                        <p class="cart__modal-column">£<%= price * quantity %></p>
                                        <form class="cart__modal-column" action="/cart-delete-item" method="POST">
                                            <button class="cart__modal-button" type="submit">X</button>
                                            <input type="hidden" name="productId" value=<%= `${id}` %>/>
                                            <input type="hidden" name="csrfToken" value=<%= csrfToken %>/>
                                        </form>
                                    </li>
                                <%  }); %>
                            </ul>

                            <form  class="cart__checkout" method="POST" action="/cart-order-create">
                                <p class="cart__checkout-text">Total : £<%= totalPrice %></p>
                                <input type="hidden" name="totalPrice" value=<%= totalPrice %>/>
                                <input type="hidden" name="csrfToken" value=<%= csrfToken %>/>
                                <button class="cart__checkout-button">Buy</button>
                            </form> 
                            
                        </div>

                    <% } else { %>

                        <h2 class="cart__empty-items">Your cart is empty</h2>

                    <% } %>
                
                </section>

            <% } else { %>

                <%- include('../../components/fallback'); %>

            <% } %>

        </main>

    </body>

<%- include('../../includes/footer'); %>