<%- include('../../includes/header'); %>
    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="checkout">

            <% if (hasProducts === true) { %>

                <h1 class="checkout__title">Checkout</h1>

                <ul class="checkout__grid">
                    <% cart.items.map((item) => { %>
                        <li class="checkout__row">
                            <p class="checkout__column"><%= item.title %> x <%= item.quantity %></p>
                            <p class="checkout__column">Price: £<%= item.price %></p>
                            <form class="checkout__column" action="/cart-delete-item" method="POST" enctype="multipart/form-data">
                                <button class="checkout__button" type="submit">X</button>
                                <input type="hidden" name="productId" value=<%= `${item.productId.toString()}` %>/>
                                <input type="hidden" name="csrfToken" value=<%= csrfToken %>/>
                            </form>
                        </li>
                    <% }) %>
                </ul>

                <p>Total: £<%= cart.totalPrice %></p>

                <button class="button button--center" id="orderBtn" onClick=<%= clickHandler %>>Buy Now</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    const handlePayment = () => {
                        console.clear();
                        console.log("Clicked");
                        console.log("Random number");
                        console.log(Math.random() * 100);
                        
                        
                    };
                </script>

            <% }else{ %>

                <div>
                    <h1>Your cart is empty, consider purchasing some?</h1>
                    <a href="/products?page=1" target="_blank" class="content__link">Go to Products</a>
                </div>

            <% } %>

        </main>

    </body>
<%- include('../../includes/footer'); %>