<%- include('../../includes/header'); %>
    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="checkout">

            <% if (hasProducts === true) { %>

                <h1 class="checkout__title">Checkout</h1>

                <ul class="checkout__grid">
                    <% cart.items.map((item) => { %>
                        <li class="checkout__row">
                            <p><%= item.title %> x <%= item.quantity %></p>
                            <p>Price: £<%= item.price %></p>
                        </li>
                    <% }) %>
                </ul>

                <p>Total: £<%= cart.totalPrice %></p>

                <form method="POST" class="form" action="/checkout" enctype="multipart/form-data">

                    <input
                        type="hidden"
                        name="csrfToken"
                        value="<%= csrfToken %>"
                    />

                    <button class="button">Buy Now</button>

                </form>

            <% }else{ %>

                <div>
                    <h1>Your cart is empty, consider purchasing some?</h1>
                    <a href="/products?page=1" target="_blank" class="content__link">Go to Products</a>
                </div>

            <% } %>

        </main>

    </body>
<%- include('../../includes/footer'); %>