<%- include('../../includes/header'); %>

    <body class="orders-page">

        <%- include('../../includes/menu'); %>

        <main class="orders">

            <% if (isAuthenticated === true) { %>

                <% if (hasOrders === true) { %>
                    
                    <h1 class="orders__header">Orders</h1>

                    <ul class="orders__details">
                        <% orders.forEach((order) => { %>

                            <li class="orders__row">

                                <p class="orders__row-item orders__row-item--title">Products</p>

                                <a href="order/<%= order._id %>" class="orders__row-item orders__row-item--download" target="_blank">
                                    Download Invoice
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24" fill="none">
                                        <path d="M5.25589 16C3.8899 15.0291 3 13.4422 3 11.6493C3 9.20008 4.8 6.9375 7.5 6.5C8.34694 4.48637 10.3514 3 12.6893 3C15.684 3 18.1317 5.32251 18.3 8.25C19.8893 8.94488 21 10.6503 21 12.4969C21 14.0582 20.206 15.4339 19 16.2417M12 21V11M12 21L9 18M12 21L15 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>

                                <% order.orderItems.forEach((item) => { %>
                                    <ul class="orders__row-item orders__row-item--products">

                                        <li class="orders__product-details">
                                            <p><%= item.title %> x <%= item.quantity %></p> 
                                            <p>£<%= item.price %></p>
                                        </li>

                                    </ul>
                                <% }) %>

                                <span class="orders__row-item orders__row-item--date">
                                    <p>Purchased : </p>
                                    <p><%= order.createdAt.toLocaleString() %></p>
                                </span>

                                <span class="orders__row-item orders__row-item--name">
                                    <p>Purchased by : </p>
                                    <p><%= order.user.name %></p>
                                </span>

                                <p class="orders__row-item orders__row-item--total">Total : £<%= order.totalPrice %></p>

                            </li>

                        <% }) %>
                    </ul>
                    
                <% } else { %>

                    <h1 class="orders__empty">No orders found</h1>

                <% } %>

            <% } else { %>

                <%- include('../../components/fallback'); %>

            <% } %>

        </main>

    </body>

<%- include('../../includes/footer'); %>