<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="cart">
            <h1 class="cart__header"><%= pageTitle %></h1> 

            <% if (hasProducts) { %>
                <div class="cart__modal-wrapper">

                    <ul class="cart__modal-rows">
                        <li class="cart__modal-header">
                            <p>Name</p>
                            <p>Quantity</p>
                            <p>Cost</p>
                        </li>
                        <%  products.forEach((product) => {    %>
                            <li class="cart__modal-row">
                                <p><%= product.title %></p>
                                <p><%= product.quantity %></p>
                                <p>£<%= product.price * product.quantity %></p>
                            </li>
                        <%  }); %>
                    </ul>

                    <div class="cart__checkout">
                        <p class="cart__checkout-text">Total Price : £<%= totalPrice %></p>
                        <button class="cart__checkout-button">Checkout</button>
                    </div>

                </div>
            <% } else { %>

                <h2>Your cart is empty</h2>

            <% } %>
        </main>

    </body>
<%- include('../includes/end'); %>