<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="cart">
            <h1 class="cart__header"><%= pageTitle %></h1> 

            <% if (hasProducts === true) { %>
                <div class="cart__modal-wrapper">

                    <ul class="cart__modal-rows">
                        <li class="cart__modal-header">
                            <p class="cart__modal-column">Name</p>
                            <p class="cart__modal-column">Quantity</p>
                            <p class="cart__modal-column">Total Cost</p>
                        </li>
                        <%  products.forEach((product) => {    %>
                        <% 
                            const id = product.dataValues.id;
                            const title = product.dataValues.title;
                            const quantity = product.dataValues.cartItem.dataValues.quantity;
                            const price = product.dataValues.price;  
                        %>

                            <li class="cart__modal-row">
                                <p class="cart__modal-column"><%= title %></p>
                                <p class="cart__modal-column"><%= quantity %></p>
                                <p class="cart__modal-column">£<%= price * quantity %></p>
                                <form class="cart__modal-column" action="/cart-delete-item" method="POST">
                                    <button class="cart__modal-button" type="submit">X</button>
                                    <input type="hidden" name="productId" value=<%= `${id}` %>/>
                                </form>
                            </li>
                        <%  }); %>
                    </ul>

                    <div class="cart__checkout">
                        <p class="cart__checkout-text">Total Price : £<%= totalPrice %></p>
                        <button class="cart__checkout-button">Checkout</button>
                    </div>

                </div>
            <% } else { %>

                <h2 class="cart__empty-items">Your cart is empty</h2>

            <% } %>
        </main>

    </body>
<%- include('../includes/end'); %>