<%- include('../includes/head'); %>
    <body class="orders-page">

        <%- include('../includes/navigation'); %>

        <main class="orders">

            <% if (hasProducts === true) { %>

            <ul class="orders__details">
                <% orders.forEach((order) => { %>

                    <li class="orders__row">

                        <p class="orders__row-item orders__row-item--title">Products</p>

                        <ul class="orders__row-item orders__row-item--products">
                            <% order.products.forEach((product) => { %>

                                <li class="orders__product-details">
                                    <p><%= product.name %> x <%= product.quantity %></p> 
                                    <p>£<%= product.price %></p>
                                </li>

                            <% }) %>
                        </ul>

                        <p class="orders__row-item orders__row-item--total">Total : £<%= order.totalPrice %></p>

                    </li>

                <% }) %>
            </ul>

            <% } else { %>

                <h1 class="orders__empty">No orders found</h1>

            <% } %>

        </main>

    </body>
<%- include('../includes/end'); %>