<%- include('../includes/head'); %>
    <body class="orders-page">

        <%- include('../includes/navigation'); %>

        <main class="orders">

            <% if (hasProducts === true) { %>
                <h1 class="orders__header">Orders</h1>

                <ul class="orders__details">
                    <% orders.forEach((order) => { %>

                        <li class="orders__row">

                            <p class="orders__row-item orders__row-item--title">Products</p>

                            <% order.items.forEach((item) => { %>
                                <ul class="orders__row-item orders__row-item--products">

                                    <li class="orders__product-details">
                                        <p><%= item.title %> x <%= item.quantity %></p> 
                                        <p>£<%= item.price %></p>
                                    </li>

                                </ul>
                            <% }) %>

                            <span class="orders__row-item orders__row-item--date">
                                <p>Purchased : </p>
                                <p><%= order.datePurchased %></p>
                            </span>

                            <p class="orders__row-item orders__row-item--total">Total : £<%= order.totalPrice %></p>

                        </li>

                    <% }) %>
                </ul>
                
            <% } else { %>

                <h1 class="orders__empty">No orders found</h1>

            <% } %>

        </main>

    </body>
<%- include('../includes/end'); %>