<%- include('../includes/head'); %>
    <body class="orders-page">

        <%- include('../includes/navigation'); %>

        <main class="orders">

            <% if (hasProducts === true) { %>

            <ul class="orders__details">
                <% orders.forEach((order) => { %>

                    <li class="orders__row">

                        <div class="orders__items">

                            <p class="orders__products-title">Products</p>

                            <ul class="orders__item">
                                <% order.products.forEach((product) => { %>

                                    <li class="orders__product-details">
                                        <p><%= product.quantity %> x <%= product.name %></p> 
                                        <p>£<%= product.price %></p>
                                    </li>

                                <% }) %>
                            </ul>

                        </div>

                        <p class="orders__price">Total : £<%= order.totalPrice %></p>
                    </li>

                <% }) %>
            </ul>

            <% } else { %>

                <h1 class="orders__empty">No orders found</h1>

            <% } %>

        </main>

    </body>
<%- include('../includes/end'); %>