<%- include('../includes/head'); %>
    <body class="orders-page">

        <%- include('../includes/navigation'); %>

        <main class="orders">

            <% if (hasProducts === true) { %>

            <ul class="orders__products">
                <% orders.forEach((order) => { %>

                    <li class="orders__product">
                        <p>TotalPrice : <%= order.totalPrice %></p>

                        <div>

                            <p>Products</p>

                            <ul>
                                <% order.products.forEach((product) => { %>
                                    <li>
                                        <p><%= product.name %> x <%= product.quantity%></p>
                                        <p>£<%= product.price %></p>
                                    </li>
                                <% }) %>
                            </ul>

                        </div>
                    </li>

                <% }) %>
            </ul>

            <% } else { %>

                <h1 class="orders__empty">No orders found</h1>

            <% } %>

        </main>

    </body>
<%- include('../includes/end'); %>