<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="content">
            <h1>My Products</h1>

            <% if (hasProducts) {%>

                <ul class="card-list">

                    <% prods.forEach((product) => { %>
                        <li class="card">
                            <h3 class="card__title"><%= product.title %></h3>
                            <img 
                                src=<%= product.image%>
                                alt="Shop Item Logo Image"
                                class="card__img"
                            />
                            <p class="card__price">£<%= product.price %></p>
                            <p class="card__desc"><%= product.description %></p>
                            <div class="card__forms">
                                <a class="card__button" href="<%= `/product-detail/${product.id}` %>">Details</a>
                                <form action="/cart" method="POST">
                                    <button class="card__button">Add To Cart</button>
                                    <input type="hidden" name="productId" value="<%= product.id %>"/>
                                </form>
 
                            </div>
                        </li>
                    <% }) %>

                </ul>

            <% } %>
        </main>


    </body>
<%- include('../includes/end'); %>

