<%- include('../includes/header'); %>
    <body>

        <%- include('../includes/menu'); %>

        <main class="edit-product">

            <% if (isAuthenticated === true) { %>

                <% if (hasProducts) { %>

                    <form 
                        method="POST" 
                        class="edit-product__form" 
                        action="<%= `/admin/update-product/${id}` %>"
                    >

                        <div class="edit-product__title">
                            <h1>Edit Product</h1>
                        </div>

                        <div class="edit-product__field">
                            <label for="title" id="title-label" class="edit-product__label">Title</label>
                            <input
                                required
                                type="text"
                                name="title"
                                class="edit-product__input"
                                aria-labelledby="title-label"
                                value="<%= productInformation.title %>"
                            />
                        </div>

                        <div class="edit-product__field">
                            <label for="image" id="image-label" class="edit-product__label">Image</label>
                            <input
                                required
                                type="text"
                                name="image"
                                class="edit-product__input"
                                aria-labelledby="image-label"
                                value="<%= productInformation.image %>"
                            />
                        </div>

                        <div class="edit-product__field">
                            <label for="description" id="description-label" class="edit-product__label">Description</label>
                            <input
                                required
                                type="text"
                                name="description"
                                class="edit-product__input"
                                aria-labelledby="description-label"
                                value="<%= productInformation.description %>"
                            />
                        </div>

                        <div class="edit-product__field">
                            <label for="price" id="price-label" class="edit-product__label">Price</label>
                            <input
                                required
                                type="number"
                                name="price"
                                class="edit-product__input"
                                aria-labelledby="price-label"
                                value="<%= productInformation.price %>"
                            />
                        </div>

                        <button type="submit" class="button button--yellow">Submit</button>

                    </form>

                <% }else{ %>

                    <h1>Error: Product doesn't exist in the JSON file</h1>

                <% } %>

            <% }else{ %>

                <%- include('../components/fallback'); %>

            <% } %>

        </main>

    </body>
<%- include('../includes/footer'); %>