<%- include('../includes/head'); %>
    <body>

        <%- include('../includes/navigation'); %>

        <main class="content">
            <h1>My Products</h1>

            <% if (hasProducts) {%>

                <ul class="card-list">

                    <% prods.forEach((product) => { %>
                        <li class="card">
                            <h3 class="card__title"><%= product.title %></h3>
                            <img 
                                src=<%= product.image %>
                                alt="Shop Item Logo Image"
                                class="card__img"
                            />
                            <p class="card__price">£<%= product.price %></p>
                            <p class="card__desc"><%= product.description %></p>
                            <div class="card__forms">
                                <form class="card__form" method="GET" action="<%= `/admin/edit-product/${product.productid}` %>">
                                    <button class="card__button">Edit</button>
                                </form>
                                <form class="card__form" method="POST" action="<%= `/admin/delete-product/${product.productid}` %>">
                                    <button class="card__button">Delete</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>

                </ul>

            <% } %>
        </main>

    </body>
<%- include('../includes/end'); %>