<%- include('../../includes/header'); %>
    <body class="menu-open">

        <%- include('../../includes/menu'); %>

        <main class="content">

            <% if (hasProducts) {%>

                <h1>My Products</h1>

                <ul class="card-list">

                    <% prods.forEach((product) => { %>
                        <li class="card">
                            <h3 class="card__title"><%= product.title %></h3>
                            <img 
                                src=<%= product.image %>
                                alt="Shop Item Logo Image"
                                class="card__img"
                            />
                            <p class="card__price">£<%= product.price %></p>
                            <p class="card__desc"><%= product.description %></p>
                            <div class="card__forms">
                                <form class="card__form" method="GET" action="<%= `/admin/edit-product/${product._id.toString()}` %>">
                                    <button class="card__button">Edit</button>
                                </form>
                                <form class="card__form" method="POST" action="<%= `/admin/delete-product/${product._id.toString()}` %>">
                                    <input type="hidden" name="csrfToken" value=<%= csrfToken %>/>
                                    <button class="card__button">Delete</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>

                </ul>

            <% }else{ %>
                <h1>No products found! Consider adding a new product</h1>
                <a class="button button--yellow" href="/admin/add-product">Add New Product</a>
            <% } %>
        </main>

    </body>
<%- include('../../includes/footer'); %>