<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="login">

            <h1><%= pageTitle %></h1>

            <form class="login__form" method="POST" action="/login">

                <div class="login__field">
                    <label for="emailInput" id="emailLabel" class="login__label">Email Address*</label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="login__input"
                        aria-labelledby="emailLabel"
                        placeholder="Please enter your email address"
                        autocomplete="on"
                        required
                    />
                </div>

                <div class="login__field">
                    <label for="passwordInput" id="passwordLabel" class="login__label">Password*</label>
                    <input
                        type="password"
                        id="passwordInput"
                        name="passwordInput"
                        class="login__input"
                        aria-labelledby="passwordLabel"
                        placeholder="Please enter your password"
                        autocomplete="on"
                        required
                    />
                </div>

                <input type="hidden" name="csrfToken" value=<%= csrfToken %> />
                <button type="submit" class="button button--yellow">Login</button>

            </form>

        </main>

    </body>
    
<%- include('../includes/footer'); %>