<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="generic-form">

        <h1 class="generic-form__title"><%= pageTitle %></h1>

            <form class="generic-form__wrapper" method="POST">

                <div class="generic-form__field">
                    <label 
                        for="emailInput" 
                        id="emailLabel" 
                        class="generic-form__label"><%= 
                            requestResponseMessage.length > 0 ? 
                            'Email*' : 
                            userExists.length > 0 ? "Email has been sent to the user" : "Error : User Doesn't exist" 
                    %></label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="generic-form__input"
                        placeholder="Please enter your email address"
                        aria-labelledby="emailLabel"
                        autocomplete="off"
                        required
                    />
                </div>

                <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
                <button class="button button--yellow">Reset Password</button>

            </form>
                    
        </main>

    </body>

<%- include('../includes/footer'); %>