<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="generic-form">

        <h1 class="generic-form__title"><%= pageTitle %></h1>

        <% if (isSubmitted.length > 0) { %>
            <h2 class="<%= userExists.length > 0 ? 'generic-form__submission-text' : 'generic-form__submission-text generic-form__submission-text--error' %>"><%= userExists.length > 0 ? "Email has been sent to the user" : "Error : User Doesn't exist" %></h2>
        <% } %>

            <form class="generic-form__wrapper" method="POST">

                <div class="generic-form__field">
                    <label 
                        for="emailInput" 
                        id="emailLabel" 
                        class="<%= isSubmitted.length === 0 ? 'generic-form__label' : userExists.length > 0 ? 'generic-form__label' : 'generic-form__label generic-form__label--error' %>"
                    >Email*</label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="<%= userExists.length > 0 ? 'generic-form__input' : 'generic-form__input generic-form__input--error' %>"
                        placeholder="Please enter your email address"
                        aria-labelledby="emailLabel"
                        value="<%= oldInput.oldEmail && oldInput.oldEmail %>"
                        required
                    />
                </div>

                <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
                <button class="button button--yellow">Reset Password</button>

            </form>
                    
        </main>

    </body>

<%- include('../includes/footer'); %>