<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="password-reset">

            <h1><%= pageTitle %></h1>

            <% if (hasUser === true && tokenExpired === false) { %>

            <form class="password-reset__form" method="POST" action="/reset">

                <div class="password-reset__field">
                    <label for="emailInput" id="emailLabel" class="<%= emailError.length === 0 ? 'password-reset__label' : 'password-reset__label password-reset__label--error' %>"><%= emailError.length === 0 ? `Email Address*` : emailError %></label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="<%= emailError.length === 0 ? 'password-reset__input' : 'password-reset__input password-reset__input--error' %>"
                        placeholder="Please enter your email address"
                        aria-labelledby="emailLabel"
                        autocomplete="off"
                        required
                    />
                </div>

                <div class="password-reset__field">
                    <label for="previousPasswordInput" id="previousPasswordLabel" class="<%= previousPasswordError.length === 0 ? 'password-reset__label' : 'password-reset__label password-reset__label--error' %>"><%= previousPasswordError.length === 0 ? `Old Password*` : previousPasswordError %></label>
                    <input
                        type="password"
                        id="previousPasswordInput"
                        name="previousPasswordInput"
                        class="<%= previousPasswordError.length === 0 ? 'password-reset__input' : 'password-reset__input password-reset__input--error' %>"
                        placeholder="Please enter your previous password"
                        aria-labelledby="previousPasswordLabel"
                        autocomplete="off"
                        required
                    />
                </div>

                <div class="password-reset__field">
                    <label for="newPasswordInput" id="newPasswordLabel" class="<%= newPasswordError.length === 0 ? 'password-reset__label' : 'password-reset__label password-reset__label--error' %>"><%= newPasswordError.length === 0 ? `New Password*` : newPasswordError %></label>
                    <input
                        type="password"
                        id="newPasswordInput"
                        name="newPasswordInput"
                        class="<%= newPasswordError.length === 0 ? 'password-reset__input' : 'password-reset__input password-reset__input--error' %>"
                        placeholder="Please enter your new password"
                        aria-labelledby="newPasswordLabel"
                        autocomplete="off"
                        required
                    />
                </div>

                <div class="password-reset__field">
                    <label for="confirmNewPasswordInput" id="confirmNewPasswordLabel" class="<%= newPasswordError.length === 0 ? 'password-reset__label' : 'password-reset__label password-reset__label--error' %>"><%= newPasswordError.length === 0 ? `Confirm Your New Password*` : newPasswordError %></label>
                    <input
                        type="password"
                        id="confirmNewPasswordInput"
                        name="confirmNewPasswordInput"
                        class="<%= newPasswordError.length === 0 ? 'password-reset__input' : 'password-reset__input password-reset__input--error' %>"
                        placeholder="Please confirm your new password"
                        aria-labelledby="confirmNewPasswordLabel"
                        autocomplete="off"
                        required
                    />
                </div>

                <input
                    type="hidden"
                    name="csrfToken"
                    value="<%= csrfToken %>"
                />

                <input
                    type="hidden"
                    name="resetToken"
                    value="<%= resetToken %>"
                />

                <button class="button button--yellow">Reset Password</button>

            </form>

            <% }else{ %>

                <div>
                    <h3>Error : The token is invalid</h3>
                    <p>Click <a href="/new-password">here</a> to request a new password</p>
                </div>

            <% } %>
            
        </main>

    </body>

<%- include('../includes/footer'); %>