<%- include('../includes/header'); %>

    <body>

        <%- include('../includes/menu'); %>

        <main class="signup">

            <h1><%= pageTitle %></h1>

            <form class="signup__form" method="POST" action="/signup">

                <div class="signup__field">
                    <label for="nameInput" id="nameLabel" class="signup__label">Name*</label>
                    <input
                        type="text"
                        id="nameInput"
                        name="nameInput"
                        class="signup__input"
                        aria-labelledby="nameLabel"
                        placeholder="Please enter your email address"
                        required
                    />
                </div>

                <div class="signup__field">
                    <label for="emailInput" id="emailLabel" class="<%= emailValid === true ? `signup__label` : `signup__label signup__label--error` %>"><%= emailValid === true ? "Email Address*" : emailErrorMessage %></label>
                    <input
                        type="email"
                        id="emailInput"
                        name="emailInput"
                        class="<%= emailValid === true ? `signup__input` : `signup__input signup__input--error` %>"
                        aria-labelledby="emailLabel"
                        placeholder="Please enter your email address"
                        required
                    />
                </div>

                <div class="signup__field">
                    <label for="passwordInput" id="passwordLabel" class="<%= passwordsMatch === true ? `signup__label` : `signup__label signup__label--error` %>"><%= passwordsMatch === true ? "Password*" : "Error : Passwords aren't the same" %></label>
                    <input
                        type="password"
                        id="passwordInput"
                        name="passwordInput"
                        class="<%= passwordsMatch === true ? `signup__input` : `signup__input signup__input--error` %>"
                        aria-labelledby="passwordLabel"
                        placeholder="Please enter your password"
                        required
                    />
                </div>

                <div class="signup__field">
                    <label for="secondPasswordInput" id="secondPasswordLabel" class="<%= passwordsMatch === true ? `signup__label` : `signup__label signup__label--error` %>"><%= passwordsMatch === true ? "Confirm Your Password*" : "Error : Passwords aren't the same" %></label>
                    <input
                        type="password"
                        id="secondPasswordInput"
                        name="secondPasswordInput"
                        class="<%= passwordsMatch === true ? `signup__input` : `signup__input signup__input--error` %>"
                        aria-labelledby="secondPasswordLabel"
                        placeholder="Please enter your password"
                        required
                    />
                </div>

                <input type="hidden" name="csrfToken" value=<%= csrfToken %> />
                <button type="submit" class="button button--yellow">Signup</button>

            </form>

        </main>

    </body>
    
<%- include('../includes/footer'); %>